<div id="all">
    <div class="form-container">
        <form id='formid' #contactForm="ngForm" action="https://formsubmit.co/08f5ae114b0950c9cf63c54415ebc607" method='POST'>

            <label>
                Contact me!
            </label>

            <!-- <div class="credentials"> -->
                <input  type="text" name="name" id="name" placeholder="your name"
                
                ngModel
                #name="ngModel"
                >
                <input type="email" name="email" id="email" placeholder="your@email.com"
                
                ngModel
                #email="ngModel"
                >
            <!-- </div> -->

            <input type="text" name="title" id="title" placeholder="Subject" 
            ngModel #title="ngModel" >

            <input type="text" name="content" id="content" placeholder="content" 
            ngModel #content="ngModel" >
            
            <br/>

            <input (click)="submit(contactForm)" type="submit" id="submit" value="submit">
        </form>
        
    </div>

    <div id="container">
        <span id="socialFind">Or find me on social media<span id="arrow">&#11166;</span></span>
        <app-socials id="socials"></app-socials>
    </div>
</div>