<div id="all">
        <form action="mailto:https://avichay593@gmail.com">
        <input type="text" name="title" id="title" placeholder="title..">
        <input type="text" name="content" id="content" placeholder="content">
        <br>
        <input type="submit" value="submit" (click)="sendContact()" >
    </form>

    <div id="container">
        <span id="socialFind">Or find me on social media<span id="arrow">&#11166;</span></span>
        <app-socials id="socials"></app-socials>
    </div>
</div>