<div id="all">
    <div class="form-container">
        <form #contactForm="ngForm" action="mailto:https://avichay593@gmail.com">

            <label>
                Contact me!
            </label>

            <div class="credentials">
                <input type="text" name="name" id="name" placeholder="your name"
                required
                ngModel
                #name="ngModel"
                >
                <input type="email" name="email" id="email" placeholder="your@email.com"
                required
                ngModel
                #email="ngModel"
                >
            </div>

            <input type="text" name="title" id="title" placeholder="Subject" 
            ngModel #title="ngModel" required>

            <input type="text" name="content" id="content" placeholder="content" 
            ngModel #content="ngModel" required>
            
            <br>

            <input type="submit" id="submit" value="submit" >
        </form>
    </div>

    <div id="container">
        <span id="socialFind">Or find me on social media<span id="arrow">&#11166;</span></span>
        <app-socials id="socials"></app-socials>
    </div>
</div>