<!-- <p>individual works! with text: {{innerText}}</p> -->
<span class="title">Project: {{info.title}}</span>
<app-carousel [imagesUrls]="info.imagesUrls"></app-carousel>
<div class="description">
    <ul>
        <li *ngFor="let desc of info.longDescription">
            <p>{{desc}}</p>
        </li>
    </ul>
</div>
<div class="github">
    <a target="_blank" class="github-slider" href="{{info.sourceLink}}">
        <span class="github">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25284.png" height="25px" alt="github">
        Click Here to go to the github
        </span>
    </a>
</div>