<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer" />

<!--  -->

<div class="block-container">
    <ul class="socials-list">
        <li style="--i:3; --clr:#0a66c2;" class="social-wrapper">
            <a target="_blank" class="social-link" href="https://www.linkedin.com/in/avichay-vaknin-1862b41bb/"><span class="logo-container"><i class="fa-brands fa-linkedin"></i></span>LinkedIn</a>
        </li>
        <li style="--i:2; --clr:#3FB950;" class="social-wrapper">
            <a target="_blank" class="social-link" href="https://github.com/AV2606"><span class="logo-container"><i class="fa-brands fa-github"></i></span>Github</a>
        </li>
        <li style="--i:1; --clr:#1877f2;" class="social-wrapper">
            <a target="_blank" class="social-link" href="https://www.facebook.com/profile.php?id=100003759882894"><span class="logo-container"><i class="fa-brands fa-facebook"></i></span>Facebook</a>
        </li>
    </ul>
</div>
