<ul class="projects">
    <li class="project" *ngFor="let proj of strings.projects">
        <h3 class="title">
            {{proj.title}}
        </h3>
        <div class="proj-container">
            <section class="left-img">
                <a [routerLink]="['/project/'+proj.title]">
                    <div class="image-container">
                        <img src="{{proj.imagesUrls[0]}}" alt="{{proj.title}}">
                        <a target="_blank" class="github-slider" href="{{proj.sourceLink}}">
                            <span class="text">
                                <img src="https://cdn-icons-png.flaticon.com/512/25/25284.png" height="25px">
                                Go to github
                            </span>
                        </a>
                    </div>
                </a>
            </section>
            <section class="right-desc">
                <div class="shortDesc">
                {{proj.shortDescription}}
                </div>
                <hr class="desc-points">
                <div class="points-container">
                    <ul class="points">
                        <li *ngFor="let point of proj.points">
                            {{point}}
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <hr>
    </li>
</ul>
