*{
    /* background-image:url("https://cdn.pixabay.com/photo/2017/09/07/17/27/background-2726039_1280.png"); 
    background-image: url("https://wallpaper.dog/large/10982140.jpg");*/
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(126,245,214,1) 78%, rgba(6,236,177,1) 100%);
    background-size: cover;
    position: relative;
    min-height: 100vh;
}