<div class="main-div">
<h2 id="myName" >
    {{Strings.first_name}} {{Strings.last_name}}
</h2>
<br>

<p [innerHTML]="Strings.shortDesc">
</p>

<div id="langsContainer" class="container hover">
    Programming languages:
    <br>
    <table>
        <tbody>
            <tr>
                <img id='cspng' src="assets/icons/csharp.png" height="50px" style="opacity: 0;">
                <img id='javapng' src="assets/icons/java.png" height="50px" style="opacity: 0;">
                <img id='htmlpng' src="assets/icons/html.ico" height="50px" style="opacity: 0;">
                <img id='jspng' src="assets/icons/js.webp" height="50px" style="opacity: 0;">
                <img id='csspng' src="assets/icons/css.ico" height="50px" style="opacity: 0;">
                <img id='tspng' src="assets/icons/ts.png" height="50px" style="opacity: 0;">
                <!-- <img id='sqlpng' src="assets/icons/sql.png" width="150px" style="opacity: 100;">   &nbsp; -->
                <img id='sqlpng' src="https://www.svgrepo.com/show/331761/sql-database-sql-azure.svg" width="50px" style="opacity: 0;">
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div id="fwContainer" class="container">
    <span>Experience in frameworks:</span>
    <br>
    <table>
        <tbody>
            <tr>
                <img id='netpng' src="assets/icons/net.png" height="45" style="opacity: 0;">
                <img id='angularpng' src="assets/icons/angular.png" height="45px" style="opacity: 0;">
                <img id='nodepng' src="assets/icons/nodejs.png" height="45px" style="opacity: 0;">
                <img id='entitypng' src="assets/icons/entityfw.png" height="45px" style="opacity: 0;">
                <img id='vanillapng' src="assets/icons/vanilla.png" height="45px" style="opacity: 0;">
                <img id='androidstudiopng' src="assets/icons/adroid_studio.png" height="45px" style="opacity: 0;">
                <img id='asppng' src="https://cdn.icon-icons.com/icons2/512/PNG/512/prog-aspnet_icon-icons.com_50818.png" height="45px" style="opacity: 0;">
            </tr>
        </tbody>
    </table>
</div>
</div>