<nav class="nav nav-tabs">
    <button class="btn nav-btn nav-item btn-outline-light {{current==routes.Home?'current':''}}" routerLink="">Home</button>
    <button class="btn nav-btn nav-item btn-outline-light {{current==routes.About?'current':''}}" routerLink="/about">About</button>
    <button class="btn nav-btn nav-item btn-outline-light {{current==routes.Projects?'current':''}}" routerLink="/projects">Projects</button>
    <button class="btn nav-btn nav-item btn-outline-light {{current==routes.Contact?'current':''}}" routerLink="/contact">Contact</button>
    <span class="nav-item" id="made-with">made with&nbsp; 
        <img src="assets/angularIcon.png" height="20px">
    </span>
</nav>
